# Rust
/target
Cargo.lock
**/*.rs.bk
*.pdb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

#demo
demo_TTA_MNIST/sequencer/mnist_stream
demo_TTA_MNIST/sequencer/mnist_data

# OS
.DS_Store
Thumbs.db

# NOMA specific
*.noma.o
*.noma.ir
*.ptx
/build
/dist
